# Ignore everything
/*


# don't ignore following directories and files
!.gitignore
!README.md

# don't ignore framework code
!/framework/
/framework/ida_cfi/__pycache__

# don't ignore llvm modified version

!frameworks/
frameworks/*
!frameworks/LLVM-CFI/
frameworks/LLVM-CFI/*
!frameworks/LLVM-CFI/source_code/
frameworks/LLVM-CFI/source_code/*
!frameworks/LLVM-CFI/source_code/lib/
!frameworks/LLVM-CFI/source_code/include/
frameworks/LLVM-CFI/source_code/lib/*
!frameworks/LLVM-CFI/source_code/lib/Transforms/
frameworks/LLVM-CFI/source_code/lib/Transforms/*
!frameworks/LLVM-CFI/source_code/lib/Transforms/IPO/

frameworks/LLVM-CFI/source_code/include/*
!frameworks/LLVM-CFI/source_code/include/llvm/
frameworks/LLVM-CFI/source_code/include/llvm/*
!frameworks/LLVM-CFI/source_code/include/llvm/Transforms/
frameworks/LLVM-CFI/source_code/include/llvm/Transforms/*
!frameworks/LLVM-CFI/source_code/include/llvm/Transforms/IPO/
frameworks/LLVM-CFI/source_code/include/llvm/Transforms/IPO/*.gch

# ignore all .o files
*.o

# ignore hidden files in notebooks directory
framework/notebooks/.*
